*{
  color: white;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  background-color: rgb(224, 224, 224);
}

.box{
  width: 350px;
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: center;

}
.box1{
  background-color: #a3d931;
}
.box2{
  background-color: #45b33f;
}
.box3{
  background-color: #394f5c;
}
.box4{
  background-color: #425990;
}
.box5{
  background-color: #2fa63f;
}
.box6{
  background-color: #803564;
}
.box7{
  background-color: rgb(210, 139, 66);
}
.box8{
  background-color: rgb(57, 119, 201);
}
.box9{
  background-color: rgb(209, 77, 156);
}
.box10{
  background-color: rgb(209, 77, 93);
}
